@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Leckerli+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Leckerli+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Leckerli+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Niconne&family=Norican&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.font-leckerli-one {
    font-family: "Leckerli One", cursive;
}

;

.font-montserrat {
    font-family: "Montserrat", sans-serif;
}

.font-charm {
    font-family: "Charm", cursive;
}

.font-niconne {
    font-family: "Niconne", cursive;
}

.font-norican {
    font-family: "Norican", cursive;
}

.font-alegreya {
    font-family: "Alegreya", serif;
}


.color-sky {
    color: #00A9FF;
}

.color-light-sky {
    color: #AED2FF;
}

.color-cyan {
    color: #00d5ff;
}

.color-sky-bright {
    color: #00eeff;
}

.color-cyan-light {
    color: #B6FFFA;
}

.color-cyan-dark {
    color: #15F5BA;
}

.color-sky-blue {
    color: #00d9ff;
}

.color-blue {
    color: #5356FF;
}

.color-blue-dark {
    color: #1D24CA;
}

.color-blue-light {
    color: #687EFF;
}

.color-light {
    color: #EEF5FF;
}

.color-black {
    color: #200E3A;
}

.color-dark {
    color: #191919;
}

.color-yellow {
    color: #ffe600;
}

.color-green {
    color: #9ADE7B;
}

.color-dark-green {
    color: #163020;
}

.btn-gradient-1 {
    border-width: 5px;
    
    border-style: solid;
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    border-image: linear-gradient(to right, #00d5ff, #00A9FF) 1;
}